<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c87b81">  <td>18/12/26 14:23:03</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TheBase.Aftertest()[pri:0, instance:reqTest.postData@6a4f787b]">&lt;&lt;Aftertest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/12/26 14:23:02</td>   <td>-1446</td> <td>&nbsp;</td><td title="&gt;&gt;TheBase.beforetest()[pri:0, instance:reqTest.postData@6a4f787b]">&gt;&gt;beforetest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/12/26 14:23:02</td>   <td>-1032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="postData.test1()[pri:0, instance:reqTest.postData@6a4f787b]">test1</td> 
  <td>main@633070006</td>   <td></td> </tr>
</table>
